@import "../../App.css";

.stt {
  height: 70px;
  background-color: #fff;
}

.c-content {
  margin-left: 270px;
  
}

.st-6 {
  padding-top: 50px;
  padding-bottom: 30px;
}

.chart-container {
  display: flex;
  gap: 35px;
  flex-flow: row wrap;
}

.d-container {
  padding: 15px;
  background-color: rgb(255, 255, 255);
  max-width: 330px;
  min-width: 300px;
  border-radius: 9px;
}

.da-grid {
  display: flex;
  flex-direction: row;
}

.d-title {
  font-size: 20px;
  padding: 10px 10px 10px 20px;
  padding-left: 25px;
  font-weight: 400;
}

.d-title > p {
  margin: 0;
}

.d-content {
  display: inline-block;
  width: auto;
}

.d-content > img {
  width: 95px;
}

.c-map {
  padding: 20px;
  width: 600px;
  background-color: #fff;
  text-align: center;
  border-radius: 9px;
}

.c-map > img {
  width: 500px;
}
